#product_container{
    border: 2px solid black;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);

}
.product_item{
    border: 2px solid brown;
    display: flex;
    flex-direction: column;
    align-items: center;
}